---
import Settings from './Settings.astro';
import ThemeToggle from '../theme/ThemeToggle.astro';
import SnowToggle from '../theme/SnowToggle.astro';
import Logo from './Logo.astro';
import Container from '../ui/Container.astro';
---

<header class="fixed top-0 z-50 w-full border-b border-gray-100/10 bg-white/80 backdrop-blur-lg dark:bg-black/80">
  <Container>
    <div class="flex h-14 items-center justify-between">
      <Logo />
      <nav class="flex items-center space-x-4">
        <a href="/audio" class="text-gray-900 dark:text-white hover:underline">Музика</a>
        <a href="/video" class="text-gray-900 dark:text-white hover:underline">Видео</a>
        <Settings />
      </nav>
    </div>
  </Container>
</header>