---
import Layout from '../layouts/Layout.astro';
import MusicPlayer from '../components/MusicPlayer.astro';

const title = "Аудио";
---

<Layout title={title}>
  <main class="py-8">
    <h1 class="text-2xl font-medium mb-8 text-center">у процесу прављења</h1>
  </main>
</Layout>
