---
import Layout from '../layouts/Layout.astro';
import Container from '../components/ui/Container.astro';
import PhotoGrid from '../components/gallery/PhotoGrid.astro';
import ImageModal from '../components/modal/ImageModal.astro';
import './styles/global.css';
import type { Photo } from '../types';

const photos: Photo[] = [
  {
    src: 'https://i.pinimg.com/736x/06/44/d3/0644d3a8f4dc4a3bab052cf7b7989f78.jpg',
    alt: 'Слика 1',
    title: 'Јошимура Ето'
  },
  {
    src: 'https://i.pinimg.com/736x/28/d3/56/28d35632f969a977c337c276273428d6.jpg',
    alt: 'Слика 2',
    title: 'Камиширо Ризе'
  },
  {
    src: 'https://i.pinimg.com/736x/26/92/77/2692773c49e23626610e06e80ac908ad.jpg',
    alt: 'Слика 3',
    title: 'Камиширо Ризе'
  },
  {
    src: 'https://i.pinimg.com/736x/cf/78/00/cf78001479dffc1c94662eef802b5c41.jpg',
    alt: 'Слика 4',
    title: 'Камиширо Ризе'
  },
  {
    src: 'https://i.pinimg.com/736x/a0/42/39/a042396876ea679a49f7b3d63fe33d57.jpg',
    alt: 'Слика 5',
    title: 'Фуегучи Хинами'
  },
  {
    src: 'https://i.pinimg.com/736x/95/c3/65/95c365b3f4beb1f1fe73bdada8fe5299.jpg',
    alt: 'Слика 6',
    title: 'Камиширо Ризе'
  },
  {
    src: 'https://i.pinimg.com/736x/78/9a/f8/789af82a8a34838fe831bf6c2d5bd922.jpg',
    alt: 'Слика 7',
    title: 'Куро и Широ'
  },
  {
    src: 'https://i.pinimg.com/736x/46/18/7e/46187eb56b3bf85290471d3bc0f7272d.jpg',
    alt: 'Слика 8',
    title: 'Кирипима Тока'
  },
  {
    src: 'https://i.pinimg.com/736x/a6/b1/e7/a6b1e7b893b64083e671a467271f33f2.jpg',
    alt: 'Слика 9',
    title: 'Јошимура Ето'
  },
];
---

<Layout title="Галерија">
  <main class="py-8">
    <Container>
      <h1 class="text-2xl font-medium mb-8">---</h1>
      <PhotoGrid photos={photos} />
    </Container>
  </main>
  <ImageModal />
</Layout>