---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card relative overflow-hidden">
  <a href={href} class="block w-full text-decoration-none">
    <div
      class="p-6 bg-[#23262d] rounded-lg shadow-lg opacity-80 hover:opacity-100 transition-opacity"
    >
      <h2 class="m-0 text-xl transition-colors duration-600">
        {title}
        <span>&rarr;</span>
      </h2>
      <p class="mt-2 mb-0">
        {body}
      </p>
    </div>
  </a>
</li>

<style>
  .card {
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 25% cover 35%;
    animation-fill-mode: both;
  }

  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
