---
import '@fontsource/inter';
import '../styles/global.css';
import '../styles/card-animations.css';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Snow from '../components/snow';
import Leaves from '../components/leaves.tsx';

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentMonth = new Date().getMonth();
const showSnow = currentMonth === 11 || currentMonth === 0; // Децембар (11) и Јануар (0)
const showLeaves = currentMonth === 9 || currentMonth === 10; // Децембар (9) и Новембар (10)
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Галерија" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      // Check snow settings
      const snowEnabled = localStorage.getItem('snow-enabled') !== 'false';
      if (!snowEnabled) {
        document.documentElement.classList.add('disable-snow');
      }
      
      // Check leaves settings
      const leavesEnabled = localStorage.getItem('leaves-enabled') !== 'false';
      if (!leavesEnabled) {
        document.documentElement.classList.add('disable-leaves');
      }

      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      }
    </script>
    <style is:global>
      .disable-snow .SnowContainer {
        display: none !important;
      }
    </style>
  </head>
  <body class="min-h-screen bg-white text-gray-900 antialiased dark:bg-black dark:text-white pt-14">
    <Header />
    {showSnow && <Snow client:load />}
    {showLeaves && <Leaves client:load />}
    <slot />
    <Footer />
  </body>
</html>